.achievemets {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    color: #616161;
  
    .achievementsContainer {
      flex: 6;
  
      .container{
        .radioContainer{
            padding-bottom: 20px;
            display: flex;
            
            .cont{
                width:120px
            }
        }
        .flex{
            display: flex;
        }
        .card{
            height: 130px;
            display: flex;
            cursor: pointer;
            .head{
                font-size: large;
                font-weight: 600;
                display: flex;
                justify-content: center;
                
            }
        }
      }
    }
  }
  