.slidebar{
    flex:1.3;
    background-color: whitesmoke;
    min-height: 100vh;
    border-right: 0.5px solid lightgray;

    .top{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;

        .logo{
            font-size: 24px;
            color: #210876;
            font-weight: bold;

        }
    }
    .bottom{
        padding-left: 10px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-weight: bold;
                font-size: 16px;
                color: #616161;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                

                &:hover{
                    background-color: #b3a4fe;
                }

                .icon{
                    font-size: 26px;
                    color: #210876;
                }

                span{
                    font-size: 15px;
                    font-weight: 700;
                    color: #616161;
                    margin-left: 10px;
                }
            }
        }
    }
}

